*{
      box-sizing: border-box;      
}

html {
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.2rem;
      letter-spacing: -.1px;
      margin: 0;
      padding: 0;
}

body {
      position: relative;
      background-color: #FFF;
      margin: 0;
      padding: 0;
      width: 100vw;
      overflow-x: hidden;
      color: #666;
}

h1 {
      color: #454545;
      font-size: 1.2rem;
      font-weight: 600;
}

p {
      font-weight: 400;
      font-size: .8rem;
}

div.breaker {
      display: block;
      background: rgba(0, 0, 0, .3);
      width: 90%;
      height: 1px;
      margin: auto;
}
#main.container {
      display: block;
      width: 100vw;
      height: 100vh;
      position: relative;
}

#main.container::after{
      content : "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("./imgs/background-1.png"); 
      width: 100vw;
      height: 100vh;
      opacity : 0.01;
      z-index: -1;
}

.card {
      display: inline-block;
      width: 100vw;
      padding: 20px 100px;
      font-size: .8rem;
      margin: 1rem;
}

.card .left, 
.card .right {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      min-height: 450px;
      margin: 0 -10px;
      padding: 1rem;
      position: relative;
}

.card #text-content {
      display: block;
      width: 100%;
} 

.card div.js-image {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background-size: 30%;
      background-repeat: no-repeat;
      background-position-x: 50%;
      background-position-y: 50%;
}

div.card#header {
      display: block;
      position: initial;
      width: 100vw;
      margin: 0 auto;
      text-align: center;
      transform: none;
      color: #47A2E2;
      box-shadow: 0 0px 12px 1px rgba(0, 0, 0, .23);
      transition: height .2s ease-out;
      animation-delay: .5s;
}

div#header.card h1 {
      color: inherit;
      font-size: 1.5rem;
      font-weight: bold;
}
div#header.card h3 {
      font-weight: 400;
}

div#goal.card {
      display: block;
      width: 70vw;
      margin: auto;
      padding: 20px;
      animation-delay: 1s;
}

ul#todo-list{
      list-style-type: none;
}

ul#todo-list li.done i {
      color: #1DE9B6;
}